*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
.content{
    width: 1170px;
    margin:0px auto;
    max-width: calc(100% - 48px );
}
/*COMMON*/
a{
    text-decoration: none;

}
.btn{
    display: inline-block;
    width: 118px;
    padding:17px 16px;
    border-radius: 25px;
    background: #171100;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.line-clamp.line-2{
    --line-clamp:2;
}
.break-all{
    word-break: break-all;
}
/*HEADER*/
header.header.fixed {
    position: sticky;
    top: -28px; /* giữ cố định ở đỉnh màn hình */
    z-index: 1;
    background: #FFFCF4;
}

.header {
    padding-top: 36px;
    padding-bottom: 8px;
    background-color: #FFFCF4;;
}
.header .container{
    display: flex;
    align-items: center;
}
.header ul{
    display: flex;
    margin-left: auto;
    
}
.header ul li a{
    position: relative;
    padding:16px 21px;
    color: #5F5B53;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

}
.header .sign-up-btn{
    margin-left: 70px;
    width: 144px;
    border-radius: 24.5px;
}
.header ul li  .active{
    color: #171100;
    font-weight: 600;
}
.header ul li  a:hover{
    color:#171100;
    text-shadow:1px 0 0 currentColor ;
}
.header ul li  .active::before{
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
   
}
/*HERO*/
.hero{
    padding-top:56px;
    padding-bottom: 65px;
    background-color: #FFFCF4;;
}
.hero .img-hero {
    width: 470px;
    height: 685px;
    object-fit: cover;
}
.hero .row{
    display: flex;
    align-items: center;
}
.hero .hero-main{
    margin-left: 230px;
}
.hero h1{
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}
.hero .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}
.hero .acces{
    display: flex;
    margin-top: 38px;
    align-items: center;
}
.hero .infor,.data{
    display: flex;
    align-items: last baseline;
    gap:16px;
}
.hero strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.727%;
    padding-left: 12px;
}
.hero strong:first-child{
    padding-left: 0px;
}
.hero .btn-hero{
    width: 180px;
    padding:24px 16px;
    border-radius: 32px;
    background: #FFB900;
    margin-right: 28px;
}
.hero .acces .video {
    display: flex;
    align-items: center;
}
.hero .acces .logo-video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    margin-right: 14px;
}
.hero .dev{
    position: absolute;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    bottom:48px;
    right:-100px;
    padding:24px 36px;
}
.hero .dev .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}
.hero .dev strong{
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
    padding-left: 0px;
}
.hero .media-block{
    position: relative;
}
.hero .dev .text{
    text-align: left;
}
.hero .dev .icon{
    object-fit: cover;
}
.hero .dev .container-icon{
     display: flex;
    align-items: center;
    justify-content: center;
        padding:12px;
    background-color: #FFF9E8;
    border-radius: 50%;
    margin-right: 16px;
}
/*POPULAR*/
.popular {
    margin:200px 0px;
}
.popular .text h2{
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}
.popular .text .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
    width: 458px;
}
.popular .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .title .icon-page{
    display: flex;
}
.popular .title .icon-page .box-icon{
    width: 40px;
    height: 40px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    color: #FFB900;
}
.popular .title .icon-page .box-icon:hover{
    background-color: #FFB900;
    color:#fff;
}
.popular .popular-main {
    margin: 55px 0px 200px;
    display: flex;
    justify-content: space-between;
    
}
.popular .popular-main .container{
    width: 370px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .container .img-popular{
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.popular .container .text{
    margin:22px 22px 22px 16px;
}
.popular .container .title{
    display: flex;
    align-items: center;
}
.popular .container .title .evaluate{
    color: #FEA31B;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    margin-left: 6px;
}
.popular .container .text .title h3{
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}
.popular .container .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
    width: 326px;
    margin-bottom: 12px;
}
.popular .text .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .text .price{
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}
.popular .text .action .btn.btn-popular:hover{
    background-color: #FFB900;;
}
/*FEEDBACK*/
.feedback {
    padding:96px 0px;
    background-color: #2E2100;
}
.feedback .feedback-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}
.featured .featured-main:first-child{
    margin-bottom: 200px;
}
.feedback .avarta{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}
.feedback h3{
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 141.667%;
}
.feedback .desc{
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
    margin-top: 4px;
}
 .dots{
    display: flex;
    margin-top:28px ;
}
 .dot{
    background-color: #634700ff;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    margin-right: 6px;
    border-radius: 50%;
}
.feedback .text .quotes{
    width: 740px;
    position: relative;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}
.feedback .text img{
    margin-left: -37px;
}
.dot.active{
    background-color: #FFB900;
}
.feedback .feedback-items{
    display: flex;
    width: 100%;
    overflow: hidden;
}
/*FEATURED*/
.featured {
    padding:200px 0px;
}
.featured .featured-main{
    display: flex;
    justify-content: space-between;
}
.featured .featured-image{
    display: flex;
}
.featured .featured-image .picture{
    width: 270px;
    height: 404px;
    flex-shrink: 0;
    border-radius: 16px;
    object-fit: cover;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-left: 30px;
}
.featured .featured-image .picture:first-child{
    margin-top: 34px;
}
.featured .text{
    margin-top: 58px;
    margin-left: 130px;
}
.featured .text h3{
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}
.featured .text .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    margin-top: 16px;
}
.featured .btn.btn-featured{
    background-color: #ffb900;
    margin-top: 32px;
    width: 137px;
}
.featured .featured-2{
    width: 470px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
}
/*BLOG*/
.blog{
    padding:96px 0px;
    background-color: #FFFCF4;;
}
.blog h3{
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}
.blog .desc{
    color: #696262;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height:175%;
}
.blog .desc.main-desc{
    width: 448px;
    margin: 16px auto 55px;
    text-align: center;
}
.blog .blog-container{
    display: flex;
    justify-content: space-between;

}
.blog .blog-container .blog-items{
    width: 370px;
    border-radius: 16px 16px 0 0;
    border-radius: 16px;
    background: #FFF;

}
.blog .blog-container .blog-items:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.blog .blog-container .blog-items .blog-image{
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.blog .blog-items .infor{
    margin-left: 20px;
}
.blog .blog-items .icon-cicle{
    display: block;
    width: 6px;
    height: 6px;
    background-color: #FFB900;
    border-radius: 50%;
    margin-right: 4px;
}
.blog .blog-items .date{
    display: flex;
    align-items: center;
    margin:20px 0px 12px;
}
.blog .blog-items .break{
    display: block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    margin-bottom: 12px;
}
.blog .blog-items strong{
    display: block;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    margin-bottom: 12px;
}
.blog .blog-items .btn.blog-btn:hover{
    background-color: #FFB900;
    color:#FFF;
}
.blog .blog-items .btn.blog-btn{
    margin-bottom: 28px;
}
.blog .dots.blog-dots{
    justify-content: center;
    margin-top: 38px;
}
/*FOOTER*/
.footer {
    padding:96px 0px 28px;
    background-color: #2E2100;
}
.footer .logo{
    margin-bottom: 18px;
}
.footer .row{
    display: flex;
    justify-content: space-between;
}
.footer .icon-social{
    display: flex;
    gap:18px;
    margin-top: 18px;
}
.footer .desc{
    color: #BFBCB2;
    width: 267px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}
.footer .infor-list h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    margin-bottom: 14px;
}
.footer .infor-list .break{
    display: block;
    width: 130px;
    height: 1px;
    background-color: #59554B;
    margin-bottom: 28px;
}
.footer .infor-list .title{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 185.714%;
}
.footer .infor-list .item{
    margin-bottom: 12px;
}
.footer .infor-list .item.loca{
    width: 231px;
}
.footer .break-footer{
    width: 100%;
    height: 1px;
    background-color: #59554B;
    margin-top: 26px;   
}
.footer .footer-copyrihgt{
    color: #807D74;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
    margin-top: 28px;
}
