*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
.content{
    width: 1170px;
    margin:0px auto;
    max-width: calc(100% - 48px );
}
/*COMMON*/
a{
    text-decoration: none;

}
.btn{
    display: inline-block;
    width: 118px;
    padding:17px 16px;
    border-radius: 25px;
    background: #171100;
    text-align: center;
    color: #fff;
}
/*HEADER*/
header.header.fixed {
    position: sticky;
    top: -28px; /* giữ cố định ở đỉnh màn hình */
    z-index: 1;
    background: #FFFCF4;
}

.header {
    padding-top: 36px;
    padding-bottom: 8px;
    background-color: #FFFCF4;;
}
.header .container{
    display: flex;
    align-items: center;
}
.header ul{
    display: flex;
    margin-left: auto;
    
}
.header ul li a{
    position: relative;
    padding:16px 21px;
    color: #5F5B53;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

}
.header .sign-up-btn{
    margin-left: 70px;
    width: 144px;
    border-radius: 24.5px;
}
.header ul li  .active{
    color: #171100;
    font-weight: 600;
}
.header ul li  a:hover{
    color:#171100;
    text-shadow:1px 0 0 currentColor ;
}
.header ul li  .active::before{
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
   
}
/*HERO*/
.hero{
    padding-top:56px;
    padding-bottom: 65px;
    background-color: #FFFCF4;;
}
.hero .img-hero {
    width: 470px;
    height: 685px;
    object-fit: cover;
}
.hero .row{
    display: flex;
    align-items: center;
}
.hero .hero-main{
    margin-left: 230px;
}
.hero h1{
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}
.hero .desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}
.hero .acces{
    display: flex;
    margin-top: 38px;
    align-items: center;
}
.hero .infor,.data{
    display: flex;
    align-items: last baseline;
    gap:16px;
}
.hero strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.727%;
    padding-left: 12px;
}